body{
    background-image: url("https://picsum.photos/1920/1080");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.container
{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container h1{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 0px;
}

.container .card{
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    
}

.card .hours{
    text-align: center;
    font-size: 48px;
    background-color: rosybrown;
    opacity: .6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
}

.card .title{
    text-align: center;
    font-size: 24px;
    padding: 5px 0px;
    background-color: salmon;
    width: 100%;
    color: white;
}

.pm{
    align-self: flex-end;
    color: white;
    background-color: green;
    opacity: .4;
    padding: 8px;
}