.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/1920/1080");
}

.container
{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container h1{
    width: 100%;
    text-align: center;
    height: min-content;
    height: 20%;
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.3);
}

.container .card{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 30%;
    position: relative;
    
}

.card .hours{
    text-align: center;
    font-size: 48px;
    background-color: rosybrown;
    opacity: .6;
    color: white;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .title{
    text-align: center;
    font-size: 24px;
    position: absolute;
    padding: 5px 0px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: salmon;
    width: 100%;
    color: white;
    height: 30%;
}

.pm{
    margin-top: 128px;
    color: white;
    background-color: green;
    opacity: .4;
    padding: 8px;
}