*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: salmon;
    display: flex;
    height: 100vh;
}

.container{
    width: 50%;
    height: 500px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.15);
    background-image: url(./img/0.png);
    background-size: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    

}
.img{
    width: 50%;
    height: 60%;
}
.keyword{
    width: 50%;
    height: 60%;
    border: 1px solid black;
    text-align: center;
}

.keyword h1{
    text-align: center;
}

.guess > span{
    display: inline-block;
    width: 19px;
    color: white;
    font-size: 24px;
    border-bottom: 1px solid white;
    margin-left: 10px;
    margin-top: 50px;
}
.ipucu{
    margin-top: 20px;
    font-size: 20px;
    display: flex;


}

.ipucu>p {
    text-align: left;
    margin-left: 10px;
}

.keys{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.keys > div.active{
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    background-color:cadetblue;
    height: max-content;
    width: 10%;
    text-align: center;
    cursor: pointer;
}


.keys > div.passive{
    border: 1px solid black;
    border-radius: 4px;
    padding: 3px;
    background-color:gray;
    height: max-content;
    width: 10%;
    text-align: center;
    pointer-events: none;
}

.popup{
    
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 24px;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}